---
import BaseLayout from '../layouts/BaseLayout.astro';
import tailwind from '@astrojs/tailwind';
const pageTitle = "Stundenplan";
---

<BaseLayout pageTitle={pageTitle}>
    <h2 >My awesome blog subtitle</h2>
</BaseLayout>
