---
---

<div  class="flex gap-4 " >
    <a href="/">Home</a>
    <a href="/stundenplan">Stundenplan</a>
    <a href="/veranstaltungen">Veranstaltungen</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
</div>
