---
import BaseLayout from "../../layouts/BaseLayout.astro";
const pageTitle = "Kindertanz";
---

<BaseLayout pageTitle = {pageTitle} >
    <img src="https://ballett-oberberg.de/wp-content/uploads/2019/10/kider-tanz-ballett-titel-arabesque.jpg" alt="">
    <p>.::Kinder lieben es zu toben, zu spielen, zu turnen und zu tanzen.</p><br>
    <p>
        Die Bewegung und das Spielen mit anderen Kindern fördert die körperliche und geistige Entwicklung enorm und ist somit ein wichtiger Baustein in ihrem Entwicklungsprozess.
        In diesem Kurs erlernen die Kleinen erste tänzerische Elemente und werde mit den ästhetischen und musikalischen Komponenten vertraut gemacht.
    </p>
    <br>
    <p>
        Es werden Ballettpositionen eingeübt und die motorischen Fähigkeiten gefördert. Im Vordergrund aller Übungseinheiten stehen immer die Freude an der Bewegung und der Spaß, den diese mit sich bringt.
    </p>

</BaseLayout>
